@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 92%;
    --foreground: 60 32% 8%;
    --card: 0 0% 92%;
    --card-foreground: 60 32% 8%;
    --popover: 0 0% 92%;
    --popover-foreground: 60 32% 8%;
    --primary: 58 29% 83%;
    --primary-foreground: 60 32% 8%;
    --secondary: 106 39% 58%;
    --secondary-foreground: 60 32% 8%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 120 20% 58%;
    --accent-foreground: 60 32% 8%;
    --destructive: 0 80% 65%;
    --destructive-foreground: 60 32% 8%;
    --border: 0 0% 63.5%;
    --input: 0 0% 45%;
    --ring: 120 20% 40%;
    --radius: 0.5rem;
    --sidebar-background: 84 14% 93%;
    --sidebar-foreground: 83 32% 8%;
    --sidebar-primary: 120 17% 64%;
    --sidebar-primary-foreground: 0 0% 8%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 120 20% 40%;
  }
 
  .dark {
    --background: 0 0% 8%;
    --foreground: 60 32% 92%;
    --card: 0 0% 8%;
    --card-foreground: 60 32% 92%;
    --popover: 0 0% 8%;
    --popover-foreground: 60 32% 92%;
    --primary: 80 9% 14%;
    --primary-foreground: 60 32% 92%;
    --secondary: 106 30% 64%;
    --secondary-foreground: 0 0% 8%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 120 20% 58%;
    --accent-foreground: 0 0% 8%;
    --destructive: 0 72% 55%;
    --destructive-foreground: 60 20% 5%;
    --border: 0 0% 32.5%;
    --input: 0 0% 55%;
    --ring: 120 20% 60%;
    --sidebar-background: 80 7% 8%;
    --sidebar-foreground: 60 32% 92%;
    --sidebar-primary: 120 17% 64%;
    --sidebar-primary-foreground: 0 0% 8%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 120 20% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* LAYOUT WRAPPERS */
  .root-wrapper {
    @apply py-5 px-2 sm:px-6;
  }
  .page-wrapper {
    @apply mb-8 mt-6 mx-2 lg:mx-4;
  }

  /* HEADING DECORATOR */
  .heading-decorator {
    @apply relative w-fit;
  }

  .heading-decorator::before {
    @apply absolute w-2/3 h-[0.2rem] -top-[0.5rem] sm:-top-[0.65rem] bg-accent rounded-full content-[''];
  }
  .heading-decorator.subheading::before {
    @apply absolute w-4/5 h-[0.085rem] -top-[0.35rem] bg-secondary rounded-full content-[''];
  }

  /* EXPANDABLE (BUTTON) */
  .expandable > div {
    @apply hidden;
  }

  .expandable[data-state="open"] > div,
  .expandable:hover > div {
    @apply flex items-center justify-center px-1 animate-in slide-in-from-right-1/2 duration-300;
  }

  .expandable[data-state="open"] > div,
  .expandable:hover.expandable-left > div {
    @apply slide-in-from-left-1/2;
  }

  /* IMAGE WRAPPER */
  .img-wrapper {
    @apply relative overflow-hidden flex-none;
  }
  .img-wrapper > img {
    @apply object-cover;
  }
}

/* TYPOGRAPHY */
.small-caps { font-variant: small-caps; }


/* Clerk */
.cl-userButtonOuterIdentifier,
.cl-internal-1eekank {
  color: hsl(var(--foreground));
}
