@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 92%;
    --foreground: 60 32% 8%;
    --card: 0 0% 92%;
    --card-foreground: 60 32% 8%;
    --popover: 0 0% 92%;
    --popover-foreground: 60 32% 8%;
    --primary: 58 29% 83%;
    --primary-foreground: 60 32% 8%;
    --secondary: 106 30% 64%;
    --secondary-foreground: 60 32% 8%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 120 20% 58%;
    --accent-foreground: 60 32% 8%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 60 32% 8%;
    --border: 0 0% 63.5%;
    --input: 0 0% 20%;
    --ring: 120 20% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 8%;
    --foreground: 60 32% 92%;
    --card: 0 0% 8%;
    --card-foreground: 60 32% 92%;
    --popover: 0 0% 8%;
    --popover-foreground: 60 32% 92%;
    --primary: 80 9% 14%;
    --primary-foreground: 60 32% 92%;
    --secondary: 106 30% 64%;
    --secondary-foreground: 0 0% 8%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 120 20% 58%;
    --accent-foreground: 0 0% 8%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 60 33% 10%;
    --border: 0 0% 32.5%;
    --input: 0 0% 80%;
    --ring: 120 20% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* TOGGLE */
  .toggle:hover > svg:first-of-type {
    @apply hidden;
  }
  .toggle:not(:hover) > svg:last-of-type {
    @apply hidden;
  }

  /* HEADING DECORATOR */
  .heading-decorator { @apply relative w-fit; }
  .heading-decorator::before { @apply absolute w-2/3 h-[0.2rem] -top-[0.675rem] bg-accent rounded-full content-['']; }
}

/* TYPOGRAPHY */
.small-caps { font-variant: small-caps; }


/* Clerk */
.cl-userButtonOuterIdentifier,
.cl-internal-1eekank {
  color: hsl(var(--foreground));
}
